@green: #1d6813;
@light-green: #227412;
@bright-green: #6bfd00;
@white: #fff;
@black: #181818;
@almost-black: #1a1a1a;

// Fonts are brought in via HTML <link>
* { box-sizing: border-box; font-family: 'Rajdhani', sans-serif; }
body {
    margin: 0; padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
main {
    width: 100vw;
    height: 100vh;
    position: relative;

    // Global styles - further customized in the tabs
    section {
        width: 100vw;
        height: 100vh;
        position: absolute;
        top: 0; left: 0;
        background-size: 100%;
        opacity: 0;
        transition: opacity 0.4s;
        &.open {
            opacity: 1;
            z-index: 2;
        }
        > div {
            position: absolute;
            color: @green;
        }
        .hiding { opacity: 0; }
        .icon {
            width: 40px;
            height: 40px;
            background-size: 100%;
            &.closed {
                background-image: url('images/marker.svg');
                &:before {
                    box-sizing: border-box;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border: 10px solid @green;
                    border-radius: 50%;
                    animation: pulse 3s ease-out infinite forwards;
                }
            }
            &.open { background-image: url('images/marker2.svg'); }
        }
        svg {
            position: absolute;
            top: 0; left: 0;
            transition: opacity 0.2s;
            path {
                fill: none;
                stroke: @green;
                stroke-width: 2px;
            }
        }
        p {
            font-size: 25px;
            font-weight: 600;
            margin: 50px;
        }
        span { font-size: 25px; font-weight: 600; text-transform: uppercase; }
        strong {
            font-family: 'Kanit', sans-serif;
            text-transform: uppercase;
            font-size: 30px;
            line-height: 25px;
        }
        .summary { transition: opacity 0.2s; }
        .backdrop {
            position: fixed;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0,0,0,0.7);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.4s;
            &.active { opacity: 1; }
        }
        .modal {
            z-index: 4;
            pointer-events: none;
            position: fixed;
            top: 50%; left: 50%;
            transform: translate(-50%,~"calc(-50% - 100px)");
            background-color: @black;
            color: @white;
            width: 1000px; height: auto;
            display: flex; flex-direction: column;
            opacity: 0;
            transition: opacity 0.4s;
            &.opened { opacity: 1; pointer-events: initial; }
            .close-icon {
                width: 40px;
                height: 40px;
                position: absolute;
                right: 20px;
                top: 20px;
            }
            .highlight {
                width: 100%;
                background-size: 175px 100%;
                background-repeat: no-repeat;
                &:nth-child(even) {
                    background-color: @almost-black;
                }
            }
            p {
                font-size: 18px;
                margin: 50px 50px 50px 200px;
            }
        }
    }

    // Unique styles for each tab
    #section-video {
        background-image: url('images/back-1.jpg');
        .videobackground {
            position: absolute;
            top: 0; left: 0;
            width: 100vw; height: 90vh;
            pointer-events: none;
        }
        .hero {
            top: 0; right: 0;
            width: 35vw; height: 100vh;
            background-color: rgba(0,0,0,0.6);
            color: @white;
            padding: 0 125px 200px;
            display: flex; flex-direction: column;
            justify-content: space-evenly;
            .icon.touch {
                background-image: url('images/touch-finger.svg');
                background-repeat: no-repeat;
                width: 230px; height: 230px;
                margin: 0 auto;
            }
        }
    }
    #section-energy {
        background-image: url('images/back-2.jpg');
        &.open > div:nth-child(-n+8) { opacity: 0; animation: fadingin 1.5s ease-out 0.2s forwards; }
        &.open path.svg-border { animation: border 1s ease-in-out 0.5s forwards; }
        div[data-opens="energy-1"] { top: 560px; left: 1355px; }
        div[data-opens="energy-2"] { top: 100px; left: 235px; }
        div[data-opens="energy-3"] { top: 295px; left: 840px; }
        div[data-opens="energy-4"] { top: 720px; left: 1715px; }
        #energy-1 {
            top: 520px; left: 175px;
            width: 1200px;
            svg { height: 287px; width: 1202px; }
            path { stroke-width: 4px; }
        }
        #energy-2 {
            top: 85px; left: 400px;
            svg {
                top: 0px; left: -130px;
                width: 120px; height: 46px;
            }
        }
        #energy-3 {
            top: 180px; left: 905px;
            svg {
                top: 13px; left: -45px;
                width: 35px; height: 120px;
            }
        }
        #energy-4 {
            top: 815px; left: 1315px;
            svg {
                top: -60px; left: 380px;
                width: 41px; height: 76px;
            }
        }
        #energy-2-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
        }
        #energy-3-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(4) { background-image: url('http://via.placeholder.com/200x150'); }
        }
        #energy-4-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
        }
    }
    #section-water {
        background-image: url('images/back-3.jpg');
        &.open > div:nth-child(-n+6) { opacity: 0; animation: fadingin 1.5s ease-out 0.2s forwards; }
        div[data-opens="water-1"] { top: 453px; left: 391px; }
        div[data-opens="water-2"] { top: 417px; left: 45px; }
        div[data-opens="water-3"] { top: 625px; left: 1320px; }
        #water-1 {
            top: 165px; left: 470px;
            svg {
                top: 14px; left: -60px;
                width: 50px; height: 280px;
            }
        }
        #water-2 {
            top: 700px; left: 125px;
            svg {
                top: -245px; left: -60px;
                width: 50px; height: 326px;
            }
        }
        #water-3 {
            top: 565px; left: 1525px;
            svg {
                top: 14px; left: -185px;
                width: 170px; height: 50px;
            }
        }
        #water-1-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
        }
        #water-2-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(4) { background-image: url('http://via.placeholder.com/200x150'); }
        }
        #water-3-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
        }
    }
    #section-waste {
        background-image: url('images/back-4.jpg');
        &.open > div:nth-child(-n+6) { opacity: 0; animation: fadingin 1.5s ease-out 0.2s forwards; }
        &.open path.svg-border { animation: border 1s ease-in-out 0.5s forwards; }
        div[data-opens="waste-1"] { top: 530px; left: 1500px; }
        div[data-opens="waste-2"] { top: 490px; left: 175px; }
        div[data-opens="waste-3"] { top: 440px; left: 845px; }
        #waste-1 {
            display: flex;
            top: 600px; left: 90px;
            width: 1740px;
            svg {
                top: -40px; left: 0;
                height: 295px; width: 1742px;
            }
            path { stroke-width: 4px; }
        }
        #waste-2 {
            top: 550px; left: 375px;
            svg {
                top: -25px; left: -180px;
                width: 165px; height: 40px;
            }
        }
        #waste-3 {
            top: 245px; left: 910px;
            svg {
                top: 14px; left: -45px;
                width: 35px; height: 185px;
            }
        }
        #waste-2-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
        }
        #waste-3-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
        }
    }
    #section-transit {
        background-image: url('images/back-5.jpg');
        &.open > div:nth-child(-n+6) { opacity: 0; animation: fadingin 1.5s ease-out 0.2s forwards; }
        &.open path.svg-border { animation: border 1s ease-in-out 0.5s forwards; }
        div[data-opens="transit-1"] { top: 800px; left: 40px; }
        div[data-opens="transit-2"] { top: 355px; left: 1297px; }
        div[data-opens="transit-3"] { top: 370px; left: 1475px; }
        #transit-1 {
            top: 545px; left: 59px;
            width: 1190px;
            svg {
                top: 0; left: 0;
                height: 287px; width: 1191px;
            }
            path { stroke-width: 4px; }
        }
        #transit-2 {
            top: 220px; left: 740px;
            text-align: right;
            svg {
                top: 13px; left: 365px;
                width: 213px; height: 130px;
            }
        }
        #transit-3 {
            top: 180px; left: 1539px;
            svg {
                top: 14px; left: -45px;
                width: 35px; height: 185px;
            }
        }
        #transit-2-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
        }
        #transit-3-modal {
            .highlight:nth-child(2) { background-image: url('http://via.placeholder.com/200x150'); }
            .highlight:nth-child(3) { background-image: url('http://via.placeholder.com/200x150'); }
        }
    }
    // #section-pledge { background-image: url('images/back-6.jpg'); }
}

// Animations
@keyframes fadingin {
    to { opacity: 1; }
}
@keyframes border {
    to { stroke-dashoffset: 800; }
}
@keyframes pulse {
    0%, 59.9% { opacity: 0; }
    60% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(1.4); }
}

// Navigation
nav {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: @green;
    width: 100vw;
    height: 200px;
    z-index: 5;
    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        width: 625px; // Switch back to 750px if adding pledge back in
        margin: 0; padding: 0;
        li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 120px;
            height: 90%;
            background-color: @light-green;
            color: @white;
            text-transform: uppercase;
            font-size: 20px;
            padding: 10px;
            border-bottom: 5px solid transparent;
            transition: border-bottom 0.4s;
            &.active {
                border-bottom: 5px solid @bright-green;
            }
            img {
                width: 60px;
                height: 90px;
            }
        }
    }
}