* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
main .backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
}
main .backdrop.active {
  opacity: 1;
}
main section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}
main section.open {
  opacity: 1;
  z-index: 2;
}
main section > div {
  position: absolute;
  color: #1d6813;
}
main section .hiding {
  opacity: 0;
}
main section .icon {
  width: 40px;
  height: 40px;
  background-size: 100%;
}
main section .icon.closed {
  background-image: url('images/marker.svg');
}
main section .icon.closed:before {
  box-sizing: border-box;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 10px solid #1d6813;
  border-radius: 50%;
  animation: pulse 3s ease-out infinite forwards;
}
main section .icon.open {
  background-image: url('images/marker2.svg');
}
main section svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}
main section p {
  font-size: 25px;
  font-weight: 600;
  margin: 50px;
}
main section span {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
main section strong {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 25px;
}
main section .summary {
  transition: opacity 0.2s;
}
main section .detail {
  z-index: 4;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 100px));
  background-color: #181818;
  color: #fff;
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
}
main section .detail .close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
}
main section .detail .highlight {
  width: 100%;
  background-size: 175px 100%;
  background-repeat: no-repeat;
}
main section .detail .highlight:nth-child(even) {
  background-color: #1a1a1a;
}
main section .detail p {
  font-size: 18px;
  margin: 50px 50px 50px 200px;
}
main #section-video {
  background-image: url('images/back-1.jpg');
}
main #section-energy {
  background-image: url('images/back-2.jpg');
}
main #section-energy.open > div:not(.backdrop) {
  opacity: 0;
  animation: fadingin 1.5s ease-out 0.2s forwards;
}
main #section-energy.open path.svg-border {
  animation: border 1s ease-in-out 0.5s forwards;
}
main #section-energy div[data-opens="energy-1"] {
  top: 560px;
  left: 1355px;
}
main #section-energy div#energy-1 {
  top: 520px;
  left: 175px;
  width: 1200px;
}
main #section-energy div#energy-1 svg {
  height: 100%;
  width: 100%;
}
main #section-energy div#energy-1 path {
  fill: none;
  stroke: #1d6813;
  stroke-width: 4px;
}
main #section-energy div[data-opens="energy-2"] {
  top: 100px;
  left: 235px;
}
main #section-energy div#energy-2 {
  top: 85px;
  left: 400px;
}
main #section-energy div#energy-2 svg {
  top: 0px;
  left: -130px;
}
main #section-energy div#energy-2 path {
  fill: none;
  stroke: #1d6813;
  stroke-width: 2px;
}
main #section-energy div#energy-2 .detail {
  opacity: 0;
  transition: opacity 0.4s;
}
main #section-energy div#energy-2 .detail .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy div#energy-2 .detail .highlight:nth-child(4) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy div#energy-2.opened .detail {
  opacity: 1;
  pointer-events: initial;
}
main #section-energy div[data-opens="energy-3"] {
  top: 295px;
  left: 840px;
}
main #section-energy div#energy-3 {
  top: 180px;
  left: 905px;
}
main #section-energy div#energy-3 svg {
  top: 13px;
  left: -45px;
}
main #section-energy div#energy-3 path {
  fill: none;
  stroke: #1d6813;
  stroke-width: 2px;
}
main #section-energy div#energy-3 .detail {
  opacity: 0;
  transition: opacity 0.4s;
}
main #section-energy div#energy-3 .detail .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy div#energy-3 .detail .highlight:nth-child(4) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy div#energy-3 .detail .highlight:nth-child(5) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy div#energy-3.opened .detail {
  opacity: 1;
  pointer-events: initial;
}
main #section-energy div[data-opens="energy-4"] {
  top: 720px;
  left: 1715px;
}
main #section-energy div#energy-4 {
  top: 815px;
  left: 1315px;
}
main #section-energy div#energy-4 svg {
  top: -60px;
  left: 380px;
}
main #section-energy div#energy-4 path {
  fill: none;
  stroke: #1d6813;
  stroke-width: 2px;
}
main #section-energy div#energy-4 .detail {
  opacity: 0;
  transition: opacity 0.4s;
}
main #section-energy div#energy-4 .detail .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy div#energy-4.opened .detail {
  opacity: 1;
  pointer-events: initial;
}
main #section-water {
  background-image: url('images/back-3.jpg');
}
main #section-waste {
  background-image: url('images/back-4.jpg');
}
main #section-transit {
  background-image: url('images/back-5.jpg');
}
main #section-pledge {
  background-image: url('images/back-6.jpg');
}
@keyframes fadingin {
  to {
    opacity: 1;
  }
}
@keyframes border {
  to {
    stroke-dashoffset: 800;
  }
}
@keyframes pulse {
  0%,
  59.9% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d6813;
  width: 100vw;
  height: 200px;
  z-index: 5;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 750px;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 90%;
  background-color: #227412;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  border-bottom: 5px solid transparent;
  transition: border-bottom 0.4s;
}
nav ul li.active {
  border-bottom: 5px solid #6bfd00;
}
nav ul li img {
  width: 60px;
  height: 90px;
}
