* {
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
main section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.4s;
}
main section.open {
  opacity: 1;
  z-index: 2;
}
main section > div {
  position: absolute;
  color: #1d6813;
}
main section .hiding {
  opacity: 0;
}
main section .icon {
  width: 40px;
  height: 40px;
  background-size: 100%;
}
main section .icon.closed {
  background-image: url('images/marker.svg');
}
main section .icon.closed:before {
  box-sizing: border-box;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border: 10px solid #1d6813;
  border-radius: 50%;
  animation: pulse 3s ease-out infinite forwards;
}
main section .icon.open {
  background-image: url('images/marker2.svg');
}
main section svg {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s;
}
main section svg path {
  fill: none;
  stroke: #1d6813;
  stroke-width: 2px;
}
main section p {
  font-size: 25px;
  font-weight: 600;
  margin: 50px;
}
main section span {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
main section strong {
  font-family: 'Kanit', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 25px;
}
main section .summary {
  transition: opacity 0.2s;
}
main section .backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
}
main section .backdrop.active {
  opacity: 1;
}
main section .modal {
  z-index: 4;
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 100px));
  background-color: #181818;
  color: #fff;
  width: 1000px;
  height: auto;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.4s;
}
main section .modal.opened {
  opacity: 1;
  pointer-events: initial;
}
main section .modal .close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
}
main section .modal .highlight {
  width: 100%;
  background-size: 175px 100%;
  background-repeat: no-repeat;
}
main section .modal .highlight:nth-child(even) {
  background-color: #1a1a1a;
}
main section .modal p {
  font-size: 18px;
  margin: 50px 50px 50px 200px;
}
main #section-video {
  background-image: url('images/back-1.jpg');
}
main #section-video .videobackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  pointer-events: none;
}
main #section-video .hero {
  top: 0;
  right: 0;
  width: 35vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0 125px 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main #section-video .hero .icon.touch {
  background-image: url('images/touch-finger.svg');
  background-repeat: no-repeat;
  width: 230px;
  height: 230px;
  margin: 0 auto;
}
main #section-energy {
  background-image: url('images/back-2.jpg');
}
main #section-energy.open > div:nth-child(-n+8) {
  opacity: 0;
  animation: fadingin 1.5s ease-out 0.2s forwards;
}
main #section-energy.open path.svg-border {
  animation: border 1s ease-in-out 0.5s forwards;
}
main #section-energy div[data-opens="energy-1"] {
  top: 560px;
  left: 1355px;
}
main #section-energy div[data-opens="energy-2"] {
  top: 100px;
  left: 235px;
}
main #section-energy div[data-opens="energy-3"] {
  top: 295px;
  left: 840px;
}
main #section-energy div[data-opens="energy-4"] {
  top: 720px;
  left: 1715px;
}
main #section-energy #energy-1 {
  top: 520px;
  left: 175px;
  width: 1200px;
}
main #section-energy #energy-1 svg {
  height: 287px;
  width: 1202px;
}
main #section-energy #energy-1 path {
  stroke-width: 4px;
}
main #section-energy #energy-2 {
  top: 85px;
  left: 400px;
}
main #section-energy #energy-2 svg {
  top: 0px;
  left: -130px;
  width: 120px;
  height: 46px;
}
main #section-energy #energy-3 {
  top: 180px;
  left: 905px;
}
main #section-energy #energy-3 svg {
  top: 13px;
  left: -45px;
  width: 35px;
  height: 120px;
}
main #section-energy #energy-4 {
  top: 815px;
  left: 1315px;
}
main #section-energy #energy-4 svg {
  top: -60px;
  left: 380px;
  width: 41px;
  height: 76px;
}
main #section-energy #energy-2-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy #energy-2-modal .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy #energy-3-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy #energy-3-modal .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy #energy-3-modal .highlight:nth-child(4) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-energy #energy-4-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-water {
  background-image: url('images/back-3.jpg');
}
main #section-water.open > div:nth-child(-n+6) {
  opacity: 0;
  animation: fadingin 1.5s ease-out 0.2s forwards;
}
main #section-water div[data-opens="water-1"] {
  top: 453px;
  left: 391px;
}
main #section-water div[data-opens="water-2"] {
  top: 417px;
  left: 45px;
}
main #section-water div[data-opens="water-3"] {
  top: 625px;
  left: 1320px;
}
main #section-water #water-1 {
  top: 165px;
  left: 470px;
}
main #section-water #water-1 svg {
  top: 14px;
  left: -60px;
  width: 50px;
  height: 280px;
}
main #section-water #water-2 {
  top: 700px;
  left: 125px;
}
main #section-water #water-2 svg {
  top: -245px;
  left: -60px;
  width: 50px;
  height: 326px;
}
main #section-water #water-3 {
  top: 565px;
  left: 1525px;
}
main #section-water #water-3 svg {
  top: 14px;
  left: -185px;
  width: 170px;
  height: 50px;
}
main #section-water #water-1-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-water #water-1-modal .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-water #water-2-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-water #water-2-modal .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-water #water-2-modal .highlight:nth-child(4) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-water #water-3-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-waste {
  background-image: url('images/back-4.jpg');
}
main #section-waste.open > div:nth-child(-n+6) {
  opacity: 0;
  animation: fadingin 1.5s ease-out 0.2s forwards;
}
main #section-waste.open path.svg-border {
  animation: border 1s ease-in-out 0.5s forwards;
}
main #section-waste div[data-opens="waste-1"] {
  top: 555px;
  left: 1500px;
}
main #section-waste div[data-opens="waste-2"] {
  top: 490px;
  left: 175px;
}
main #section-waste div[data-opens="waste-3"] {
  top: 440px;
  left: 845px;
}
main #section-waste #waste-1 {
  display: flex;
  top: 625px;
  left: 90px;
  width: 1740px;
}
main #section-waste #waste-1 svg {
  top: -40px;
  left: 0;
  height: 295px;
  width: 1742px;
}
main #section-waste #waste-1 path {
  stroke-width: 4px;
}
main #section-waste #waste-2 {
  top: 550px;
  left: 375px;
}
main #section-waste #waste-2 svg {
  top: -25px;
  left: -180px;
  width: 165px;
  height: 40px;
}
main #section-waste #waste-3 {
  top: 245px;
  left: 910px;
}
main #section-waste #waste-3 svg {
  top: 14px;
  left: -45px;
  width: 35px;
  height: 185px;
}
main #section-waste #waste-2-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-waste #waste-3-modal .highlight:nth-child(2) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-waste #waste-3-modal .highlight:nth-child(3) {
  background-image: url('http://via.placeholder.com/200x150');
}
main #section-transit {
  background-image: url('images/back-5.jpg');
}
main #section-pledge {
  background-image: url('images/back-6.jpg');
}
@keyframes fadingin {
  to {
    opacity: 1;
  }
}
@keyframes border {
  to {
    stroke-dashoffset: 800;
  }
}
@keyframes pulse {
  0%,
  59.9% {
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}
nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d6813;
  width: 100vw;
  height: 200px;
  z-index: 5;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 625px;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 90%;
  background-color: #227412;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px;
  border-bottom: 5px solid transparent;
  transition: border-bottom 0.4s;
}
nav ul li.active {
  border-bottom: 5px solid #6bfd00;
}
nav ul li img {
  width: 60px;
  height: 90px;
}
